<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">JOB OFFER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLinkActive]="['active']" class="nav-item nav-link" [routerLink]="['/main/joboffers']">HOME</a>
        <a [routerLinkActive]="['active']" class="nav-item nav-link" *ngIf="hasUser" [routerLink]="['/auth/profile']">MY PROFILE</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/main/myjoboffers']" class="nav-item nav-link" *ngIf="isAdmin">MY OFFERS</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/main/myappliances']" class="nav-item nav-link" *ngIf="isApplicant">MY APPLIANCES</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/auth/login']" class="nav-item nav-link" *ngIf="!hasUser">LOGIN</a>
        <a class="nav-item nav-link" *ngIf="hasUser" (click)="onLogout()">LOGOUT</a>
      </div>
    </div>
  </nav>