<div class="login-form">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" id="username" formControlName="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" id="password" formControlName="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <!-- TODO <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>         -->
    </form>
    <!-- TODO <p class="text-center"><a href="#">Create an Account</a></p> -->
</div>